.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.c-question-droplist-flex {
  padding: 10px 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.c-question-droplist--column{
  justify-content: start;
}

.c-question-droplist--column-menu-wrap{
  justify-content: end;
}

.question-text--wrab {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #ddd;

  &.parent{
    background-color: #ffffff;
  }

  &.child{
    background-color: #e8f9ff;
    margin-left: 2rem;
  }

}

.example-margin {
  margin: 10px;
}



.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.question-attributes--wrap{
  margin: 0.5rem;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .snack-bar {
  background: #1e88e5 !important;;
  color: white !important;;
  button{
    color: white !important;
  }
}

.question-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question-answer-button--wrap{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


