<mat-card>
	<mat-card-content>
		<mat-card-title>Destination B1</mat-card-title>
		<mat-card-subtitle>Grammar & Vocabulary with answer key</mat-card-subtitle>
		<mat-tab-group animationDuration="0ms">
			<mat-tab>
				<ng-template mat-tab-label>
					<span class="tab-text">Pressent Simple</span>
					<span class="tab-text">Present Continious</span>
					<span class="tab-text">State verbs</span>
				</ng-template>
				<div>
					<app-destinatin-present-simple>
					</app-destinatin-present-simple>
				</div>
			</mat-tab>
			<mat-tab label="Tab Two">
				Tab Two Content
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>